<!-- ユーザーの詳細 -->
<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  
  <!--ログインしているユーザー時表示する-->
  <% if @user == current_user %>
  <p><%= link_to "プロフィール編集", edit_user_path %></p>
  <% end %>
</div>

<!--ユーザーの投稿一覧-->
<%= render 'content_reviews/list', content_reviews: @content_reviews %>