 <!--<%#= form_with model: review, url: content_review_reviews_path(content_review), local: true do |f| %>-->
 <!-- <div class="ratings mb-3">-->
 <!-- <div class="ratings mb-3">-->
 <!--   <span class="fa fa-star-o" id="star"></span>-->
 <!--   <span class="fa fa-star-o" id="star"></span>-->
 <!--   <span class="fa fa-star-o" id="star"></span>-->
 <!--   <span class="fa fa-star-o" id="star"></span>-->
 <!--   <span class="fa fa-star-o" id="star"></span>-->
 <!-- </div>-->
 <!-- </div>-->
 <!-- <div class="ml-3 rating-value-display"><span id="rating-value-display">0</span>/5</div>-->
 <!-- <%#= f.hidden_field :content_review_id, value: content_review.id %>-->
 <!-- <%#= f.hidden_field :score, id: "rating-value" %>-->
  
  
  
 <!-- <%#s end %>-->